#login {
  font-family: cursive;
  font-size: 3em;
  text-align: center;
}

#InfoDescription {
  margin-top: 200px;
  height: 300px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5em;
  border-style: outset;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  z-index: 50;
  font-family: cursive;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.editProfile {
  font-family: cursive;
  font-size: 16;
  background: transparent;
  border-radius: 2rem;
}
.editProfile:hover {
  background: rgba(255, 255, 255, 0.253);
}

.deleteProfile {
  font-family: cursive;
  font-size: 16;
  background: transparent;
  border-radius: 2rem;
  height: 4em;
}
.deleteProfile:hover {
  background: rgba(211, 0, 0, 0.685);
}

#chartsComing {
  font-size: 20px;
  color: red;
}
