html {
  /* background: rgb(129, 0, 129); */
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(56, 161, 161) 6%,
    rgb(219, 206, 129) 40%,
    rgb(203, 255, 239) 100%
  );
}

#circleBackground {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: rgb(49, 124, 209);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#LandingDescription {
  /* position: relative;
  bottom: 400px; */
  height: 250px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5em;
  border-style: outset;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  z-index: 50;
}

#startButton {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: cursive;
  font-size: 2em;
  background: transparent;
  border-radius: 2rem;
  height: fit-content;
  padding: 15px;
  width: 150px;
}

#LandingDescription {
  font-family: cursive;
  font-size: 1.1em;
  text-align: center;
}
