html {
  width: 100%;
  height: 100%;
}

#background {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
  --gradient: linear-gradient(
    45deg,
    #ffffff6d,
    #7edf5e93,
    #53d8a9,
    #1546da,
    #845ec2,
    #ec7753,
    #eb8fde,
    #b6ec5f,
    #ffffff34
  );
  background-image: var(--gradient);
  background-size: 600%;
  background-position: left;
  animation: grad-bg 40s infinite alternate;
}
@keyframes grad-bg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#loginTitle {
  background: linear-gradient(
      to bottom,
      #eee 12%,
      rgba(251, 255, 1, 0.384) 20%,
      #f278f7 50%
    ),
    url(https://t3.ftcdn.net/jpg/02/95/65/94/360_F_295659437_PRGNuxt8UYvLDPOZPgl5DK7ZDxZn7REN.jpg);

  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: cursive;
  font-size: 8vw;
  font-weight: bold;
  text-align: center;
  margin: 0%;
}

#signinH2 {
  background: linear-gradient(
      to bottom,
      #eee 10%,
      rgba(251, 255, 1, 0.384) 22%,
      #f278f7 80%
    ),
    url(https://t3.ftcdn.net/jpg/02/95/65/94/360_F_295659437_PRGNuxt8UYvLDPOZPgl5DK7ZDxZn7REN.jpg);

  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: cursive;
  font-size: 4.5vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0%;
}

.form-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  width: fit-content;
  height: fit-content;
  border: solid rgba(255, 255, 255, 0.116) 8px;
  border-style: outset;
  border-radius: 3rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(251, 255, 33, 0.2)
  );
  backdrop-filter: blur(10px);
  z-index: 800;
  font-size: 36px;
  font-family: cursive;
}

input {
  height: 3vh;
  font-family: cursive;
  background: transparent;
}
input:hover {
  background: rgba(255, 255, 255, 0.116);
}

#password {
  margin-left: 11px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  height: 30px;
}

#signup-form-link {
  font-family: cursive;
  font-size: 16px;
  border-radius: 5rem;
  background: transparent;
}
#signup-form-link:hover {
  background: rgba(255, 255, 255, 0.253);
}

#log-in {
  font-size: 16px;
  width: 100px;
  font-family: cursive;
  border-radius: 5rem;
  background: transparent;
}
#log-in:hover {
  background: rgba(255, 255, 255, 0.253);
}
