html {
  height: 100%;
  width: 100%;
}

#headerDiv {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid rgba(255, 255, 255, 0.116) 8px;
  border-style: outset;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  z-index: 800;
}

#headerH1 {
  background: linear-gradient(
      to bottom,
      #eee 6%,
      rgba(251, 255, 1, 0.384) 40%,
      #f278f7 100%
    ),
    url(https://t3.ftcdn.net/jpg/02/95/65/94/360_F_295659437_PRGNuxt8UYvLDPOZPgl5DK7ZDxZn7REN.jpg);

  background-attachment: inherit;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: cursive;
  font-size: 4em;
  font-weight: bold;
  margin: 0%;
}

#profile {
  margin-left: 20px;
  font-family: cursive;
  font-size: 2em;
  background: transparent;
  border-radius: 2rem;
  height: fit-content;
  padding: 15px;
  width: 150px;
}
#profile:hover {
  background: rgba(255, 255, 255, 0.253);
}

#headerLogin {
  margin-right: 20px;
  font-family: cursive;
  font-size: 2em;
  background: transparent;
  border-radius: 2rem;
  height: fit-content;
  padding: 15px;
  width: 150px;
}
#headerLogin:hover {
  background: rgba(255, 255, 255, 0.253);
}
