html {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(98, 99, 99) 30%,
    rgb(72, 87, 73) 80%,
    rgb(87, 241, 252) 145%
  );
}

/* ---Keyframes--------------------------------------------------- */
@font-face {
  font-family: computer_7;
  src: url("../components/computer_7.ttf") format("truetype");
}

@keyframes leftToRight {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes loginTextChange {
  0% {
    color: rgb(64, 255, 58);
  }
  50% {
    color: rgba(133, 248, 200, 0.788);
    border: 3px inset rgba(133, 248, 200, 0.788);
  }
  100% {
    color: rgb(62, 255, 239);
    border: 3px inset rgb(60, 255, 245);
  }
}

@keyframes chartsTextChange {
  0% {
    color: rgb(146, 16, 16);
  }
  50% {
    color: rgb(177, 10, 10);
    border: 3px inset rgb(92, 86, 86);
  }
  100% {
    color: rgb(46, 42, 42);
    border: 3px inset rgb(22, 2, 2);
  }
}

@keyframes headerBorder {
  0% {
    border-bottom: 4px outset rgba(159, 247, 239, 0.795);
  }
  50% {
    border-bottom: 4px outset rgb(179, 219, 219);
  }
  100% {
    border-bottom: 4px outset rgb(61, 255, 255);
  }
}

@keyframes headerTitle {
  0% {
    background: -webkit-linear-gradient(
      rgb(46, 46, 46) 50%,
      rgb(133, 133, 133) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: computer_7;
  }
  25% {
    background: -webkit-linear-gradient(
      rgb(46, 46, 46) 45%,
      rgb(133, 133, 133) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: computer_7;
  }
  50% {
    background: -webkit-linear-gradient(
      rgb(46, 46, 46) 40%,
      rgb(133, 133, 133) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: computer_7;
  }
  75% {
    background: -webkit-linear-gradient(
      rgb(46, 46, 46) 35%,
      rgb(133, 133, 133) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: computer_7;
  }
  100% {
    background: -webkit-linear-gradient(
      rgb(46, 46, 46) 30%,
      rgb(133, 133, 133) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: computer_7;
  }
}

@keyframes landingBoxBorder {
  0% {
    border: 4px outset rgba(159, 247, 239, 0.795);
  }
  50% {
    border: 4px outset rgb(179, 219, 219);
  }
  100% {
    border: 4px outset rgb(61, 255, 255);
  }
}

@keyframes rainbowBorder {
  0% {
    color: #0ff8f8;
    border: 4px outset #ce995dd2;
  }
  10% {
    color: #af2359;
    border: 4px outset #7fe65c;
  }
  20% {
    color: #53d8a9;
    border: 4px outset #53d8a9;
  }
  30% {
    color: #793ac26d;
    border: 4px outset #1546da;
  }
  40% {
    color: #f8ff70;
    border: 4px outset #845ec2;
  }
  50% {
    color: #eb8fde;
    border: 4px outset #ec7753;
  }
  60% {
    color: #ec7753;
    border: 4px outset #eb8fde;
  }
  70% {
    color: #845ec2;
    border: 4px outset #f8ff70;
  }
  80% {
    color: #1546da;
    border: 4px outset #7a3ac2;
  }
  90% {
    color: #7edf5e93;
    border: 4px outset #af2359;
  }
  100% {
    color: #ce995dd2;
    border: 4px outset #0ff8f8;
  }
}
/* header css -----------------------------------------------------*/
#headerDiv {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: radial-gradient(
    rgba(36, 250, 239, 0.219) 10%,
    rgba(46, 46, 46, 0.527) 100%
  );
  backdrop-filter: blur(10px);
  animation: headerBorder 4s ease-in-out infinite alternate;
  margin-bottom: 100px;
}

#headerH1 {
  font-size: 48px;
  background: -webkit-linear-gradient(
    rgb(46, 46, 46) 50%,
    rgb(133, 133, 133) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: computer_7;
  animation: headerTitle 2s ease-in-out infinite alternate;
}

#headerH1:hover {
  background: linear-gradient(
    90deg,
    rgb(46, 46, 46),
    rgb(197, 201, 201),
    rgb(59, 253, 253),
    rgb(0, 159, 199),
    rgb(0, 199, 199)
  );
  background-size: 400% 400%;
  background-clip: text;
  animation: leftToRight 3s ease-in-out infinite;
  color: rgba(0, 0, 0, 0);
}

#headerLogin {
  color: rgb(184, 184, 184);
  /* once charts is added resize button accordingly  */
  width: 250px;
  font-family: computer_7;
  font-size: 36px;
  border: 3px outset;

  background: rgb(83, 83, 83);
}
#headerLogin:hover {
  animation: loginTextChange 2s ease-in-out infinite alternate;
  transition: color 0.2s ease-in-out;
  border: 3px inset rgb(31, 248, 31);
}

#chartsBtn {
  width: 250px;
  color: rgb(133, 133, 133);
  background: rgb(83, 83, 83);
  padding: 15px;
  font-family: computer_7;
  font-size: 32px;
  border: 3px outset;
}
#chartsBtn:hover {
  animation: chartsTextChange 2s ease-in-out infinite alternate;
  border: 3px inset rgb(230, 18, 18);
}

/* --------------------------------------------------------------- */

/* LandingPage css ----------------------------------------------- */
#LandingDescription {
  font-family: computer_7;
  font-size: 30px;
  font-weight: border;
  text-align: center;
  color: rgb(59, 59, 59);
  min-height: 150px;
  width: 50%;
  margin: auto;
  border-radius: 5em;
  border-style: outset;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  animation: landingBoxBorder 4s ease-in-out infinite alternate;
}

#startButton {
  color: rgb(184, 184, 184);
  width: 250px;
  font-family: computer_7;
  font-size: 32px;
  border: 4px outset;
  background: rgb(83, 83, 83);
}
#startButton:hover {
  animation: rainbowBorder 2s ease-in-out infinite alternate;
  transition: color 0.2s ease-in-out;
}

/* --------------------------------------------------------------- */

/* --------- login/signUp modal------------------------------------------ */
#background {
  backdrop-filter: blur(10px);
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgb(98, 99, 99) 30%,
    rgb(72, 87, 73) 80%,
    rgb(87, 241, 252) 145%
  );
}

#loginTitle,
#signUpTitle {
  font-family: computer_7;
  background: -webkit-linear-gradient(
    rgb(46, 46, 46) 50%,
    rgb(133, 133, 133) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.3vw;
  font-weight: bold;
  text-align: center;
  margin: 0%;
}

#signinH2,
#signUpH2 {
  font-family: computer_7;
  background: -webkit-linear-gradient(
    rgb(46, 46, 46) 50%,
    rgb(133, 133, 133) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.8vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0%;
}

.form-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  width: fit-content;
  height: fit-content;
  border: solid rgba(255, 255, 255, 0.116) 8px;
  border-style: outset;
  border-radius: 3rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  animation: landingBoxBorder 4s ease-in-out infinite alternate;
  z-index: 800;
  font-size: 36px;
  font-family: computer_7;
}

input {
  height: 3vh;
  font-family: computer_7;
  background: transparent;
  font-weight: bold;
}
input:hover {
  background: rgba(255, 255, 255, 0.116);
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#log-in {
  color: rgb(184, 184, 184);
  padding-left: 25px;
  padding-right: 25px;
  font-family: computer_7;
  font-size: 34px;
  border: 3px outset;
  background: rgb(83, 83, 83);
}
#log-in:hover {
  animation: loginTextChange 2s ease-in-out infinite alternate;
  transition: color 0.2s ease-in-out;
  border: 3px inset rgb(31, 248, 31);
}

#signup-form-link {
  color: rgb(184, 184, 184);
  padding-left: 10px;
  padding-right: 10px;
  font-family: computer_7;
  font-size: 34px;
  border: 3px outset;
  background: rgb(83, 83, 83);
}
#signup-form-link:hover {
  animation: loginTextChange 2s ease-in-out infinite alternate;
  transition: color 0.2s ease-in-out;
  border: 3px inset rgb(31, 248, 31);
}

#submitBtn {
  margin-top: 20px;
  /* margin left only there cos wont center with justify content */
  margin-left: 33%;
  color: rgb(184, 184, 184);
  padding-left: 10px;
  padding-right: 10px;
  font-family: computer_7;
  font-size: 34px;
  border: 3px outset;
  background: rgb(83, 83, 83);
}
#submitBtn:hover {
  animation: loginTextChange 2s ease-in-out infinite alternate;
  transition: color 0.2s ease-in-out;
  border: 3px inset rgb(31, 248, 31);
}

.modalContent {
  width: 50vw;
  height: fit-content;
  padding: 20px;
  z-index: 900;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgb(98, 99, 99) 30%,
    rgb(72, 87, 73) 80%,
    rgb(87, 241, 252) 135%
  );
  backdrop-filter: blur(10px);
}

.signUpModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
}

.blurBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  backdrop-filter: blur(10px);
  opacity: 0.9;
  z-index: 100;
}
/* --- face mesh ------------------------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#faceMessage {
  font-family: computer_7;
  font-size: 3em;
  text-align: center;
}

#cam {
  border-radius: 50%;
}

/* --------------------------------------------------------------- */
/* ---charts component-------------------------------------------- */
.chartContainer {
  width: 700px;
}

/* --------------------------------------------------------------- */

/* -----profileBody component------------------------------------- */
#comingSoon {
  margin: 0px;
  font-size: 30px;
  font-family: computer_7;
  color: white;
  text-align: center;
}
#login {
  font-family: cursive;
  font-size: 3em;
  text-align: center;
}

#InfoDescription {
  margin-top: 15px;
  height: 300px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5em;
  border-style: outset;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 25px;
  padding-top: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  z-index: 50;
  font-family: cursive;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.editProfile {
  font-family: cursive;
  font-size: 16;
  background: transparent;
  border-radius: 2rem;
}
.editProfile:hover {
  background: rgba(255, 255, 255, 0.253);
}

.deleteProfile {
  font-family: cursive;
  font-size: 16;
  background: transparent;
  border-radius: 2rem;
  height: 4em;
}
.deleteProfile:hover {
  background: rgba(211, 0, 0, 0.685);
}

#chartsComing {
  font-size: 20px;
  color: red;
}

/* --------------------------------------------------------------- */
/* --- media queries ----------------------------------------------*/
@media (max-width: 768px) {
  html {
    height: auto;
  }
}
